[user]
	name = Armen
	email = vaarmen@sas.upenn.edu
[color]
	ui = true

[alias]
	lc = log ORIG-HEAD.. --stat --no-merges
	changes=diff --name-status -r
	diffstat=diff --stat -r
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[push]
	default = simple
